<header>
  <div id="topnav">
    <div class="limitwidth">
    <nav>
      <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/about">О магазине</a></li>
          <li><a href="/garantee">Гарантия</a></li>
          <li><a href="/delivery">Доставка</a></li>
          <li><a href="/contacts">Контакты</a></li>
          <li><a href="/cart.php">Корзина</a></li>
      </ul>
    </nav>
    </div>
  </div>
  <div id="midlehead">
    <div class="limitwidth">
      <div id="logo">
        <a href="/"><img src="/theme/img/logotip.png" width="200" alt="Инверторы.Москва"></a>
        <p id="slogan">Фирменный магазин инверторов <span class="orange">Энергия</span></p>
      </div>
      <div id="midleheadmidle"></div>
      <div id="midleheadright">
        <span class="orange x-large">&#9742;</span> <span id="topphone">8 (495) 555-5555</span>
        <br>
        <div id="topphone-bottom">(Круглосуточно, Пн-Вс)</div>
      </div>
    </div>
  </div>
</header>
