  <aside id="aside">
    <div style="padding: 0px 10px;">
      <div class="hmenu">КАТАЛОГ</div>
      <nav id="catalog">
      <ul>
          <li><a href="/napolnye/">Напольные инверторы</a></li>
          <li><a href="/nastennye/">Настенные инверторы</a></li>
          <li><a href="/automobile/">Автомобильные инверторы</a></li>
          <li><a href="/battery/">Аккумуляторы</a></li>
      </ul>
    </nav>
    </div>
    <div style="clear: both"></div>
  </aside>
