<!DOCTYPE html>

<html>

<head>
  <title>Оформление закза</title>
  <meta name=viewport content="width=device-width, initial-scale=0.7">
  <meta charset="windows-1251">
  <link rel="stylesheet/less" type="text/css" href="/theme/css/stylesheet.less">
  <script src="/theme/js/less.js" type="text/javascript"></script>
  <script src="/theme/js/jquery.min.js"></script>

</head>

<body>
<TMPL_INCLUDE FILE="_header.tmpl">
<div class="limitwidth">
  <div id="page">

<TMPL_INCLUDE FILE="_leftmenu.tmpl">

  <div id="content">
    <div id="middlecontent">
    <h1>Заказ принят</h1>
    <h2>Заказ #<TMPL_VAR NAME="order_no"> принят</h2>
    </div>
  </div>
  </div>
</div>
<TMPL_INCLUDE FILE="_footer.tmpl">
<script type="text/javascript" src="/theme/js/style.js"></script>

</body>
</html>