<!DOCTYPE html>

<html>

<head>
  <title>Инверторы Энергия</title>
  <meta name=viewport content="width=device-width, initial-scale=0.7">
  <meta charset="windows-1251">
  <link rel="stylesheet/less" type="text/css" href="/theme/css/stylesheet.less">
  <script src="/theme/js/less.js" type="text/javascript"></script>

</head>

<body>
<TMPL_INCLUDE FILE="_header.tmpl">
<div id="poster"><div class="limitwidth"><img src="/theme/img/poster-min.jpg" alt="" width="100%" height="auto"></div></div>
<div class="limitwidth">
  <div id="page">
<TMPL_INCLUDE FILE="_leftmenu.tmpl">
  <div id="content">
    <div id="middlecontent">
    <h1>Здесь размещается основной контент</h1>
    При совместном использовании аккумуляторных батарей серии «Энергия АКБ»
    </div>
  </div>
  </div>
</div>
<TMPL_INCLUDE FILE="_footer.tmpl">
<script src="/theme/js/jquery.min.js"></script>
<script type="text/javascript" src="/theme/js/style.js"></script>

</body>
</html>