  <aside id="aside">
    <div style="padding: 0px 10px;">
      <div class="hmenu">КАТАЛОГ</div>
      <nav id="catalog">
      <ul>
          <li><a href="/cat.php?cat=napolnye">Напольные инверторы</a></li>
          <li><a href="#">Настенные инверторы</a></li>
          <li><a href="#">Автомобильные инверторы</a></li>
          <li><a href="#">Аккумуляторы</a></li>
      </ul>
    </nav>
    </div>
    <div style="clear: both"></div>
  </aside>
